/* document styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Style the links inside the navigation bar */
nav {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }